.App {
  background-color: #0C000E;
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.blur-bg {
  filter: blur(5px);
  overflow: hidden;
}


